footer
  .container.text-center
    p.float-left © 2018 Marek Pelka, Grzegorz Przytuła
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/MarekPelka/BCYB-SF') GitHub

